# Database
DATABASE_URL=postgresql+psycopg://chess:chess@localhost:5432/chess_dev

# ML inference
ML_INFERENCE_PROVIDER=local # Options: local, huggingface

# Local ML inference
ML_MODEL_PATH=../ml/artifacts/policy_v1.pt
ML_MODEL_METADATA_PATH=../ml/artifacts/policy_v1.json

# Hugging Face inference
# HF_INFERENCE_ENDPOINT=
# HF_TOKEN=

# Other env vars
# REDIS_URL=redis://localhost:6379/0